__pycache__/
*__pycache__
.idea/
*.pyc
data

scratch.py

*.m

.ipynb_checkpoints

checkpoints
runs

metrics/structural_losses/*.so
metrics/structural_losses/*.cu.o
metrics/structural_losses/makefile
PyMesh
checkpoint

torchdiffeq/
demo/
